[submodule "lwip"]
	path = lwip
	url = https://github.com/hermitcore/LwIP.git
	branch = path2rs
[submodule "usr/libomp"]
	path = usr/libomp
	url = https://github.com/hermitcore/libomp_oss.git
	branch = path2rs
[submodule "crates/x86"]
	path = crates/x86
	url = https://github.com/hermitcore/rust-x86.git
	branch = all-merged
[submodule "crates/rlibc"]
	path = crates/rlibc
	url = https://github.com/hermitcore/rlibc.git
[submodule "caves"]
	path = caves
	url = https://github.com/hermitcore/hermit-caves.git
	branch = path2rs
