[submodule "lwip"]
	path = lwip
	url = https://github.com/RWTH-OS/LwIP.git
	branch = hermit
[submodule "usr/libomp"]
	path = usr/libomp
	url = https://github.com/RWTH-OS/libomp_oss.git
	branch = hermit
[submodule "librs/rust"]
	path = librs/rust
	url = https://github.com/RWTH-OS/rust.git
