[submodule "usr/gcc"]
	path = usr/gcc
	url = https://github.com/RWTH-OS/gcc.git
	branch = hermit
[submodule "usr/binutils"]
	path = usr/binutils
	url = https://github.com/RWTH-OS/binutils.git
	branch = hermit
[submodule "usr/pte"]
	path = usr/pte
	url = https://github.com/RWTH-OS/pthread-embeded.git
	branch = hermit
[submodule "usr/newlib"]
	path = usr/newlib
	url = https://github.com/RWTH-OS/newlib.git
	branch = hermit
[submodule "lwip"]
	path = lwip
	url = https://github.com/RWTH-OS/LwIP.git
	branch = hermit
[submodule "usr/libomp"]
	path = usr/libomp
	url = https://github.com/RWTH-OS/libomp_oss.git
	branch = hermit
