*.o
*.a
*.dep
*~
*.elf
*.elf32
*.sym
*.bin
autom4te.cache
documentation/html/
include/hermit/config.inc
usr/examples/hello
usr/examples/jacobi
usr/examples/stream
usr/examples/thr_hello
usr/x86/
usr/tmp/
