*.o
*.a
*.dep
*~
*.elf
*.elf32
*.sym
*.bin
qemu-vlan0.pcap
autom4te.cache
documentation/html/
include/hermit/config.inc
tools/proxy
usr/tests/hello
usr/tests/hello++
usr/tests/hellof
usr/tests/jacobi
usr/tests/thr_hello
usr/tests/RCCE_minimum
usr/benchmarks/RCCE_pingping
usr/benchmarks/RCCE_pingpong
usr/benchmarks/stream
usr/benchmarks/hg
usr/benchmarks/netio
usr/benchmarks/basic
usr/openmpbench/schedbench
usr/openmpbench/syncbench
usr/openmpbench/taskbench
usr/x86/
usr/tmp/
