Source: libhermit
Section: devel
Priority: optional
Maintainer: Stefan Lankes <slankes@eonerc.rwth-aachen.de>
Build-Depends: debhelper (>=9),autotools-dev
Standards-Version: 3.9.6
Homepage: http://www.hermitcore.org
#Vcs-Git: git://anonscm.debian.org/collab-maint/libhermit.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/libhermit.git

Package: libhermit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A Unikernel for Extreme-Scale Computing
 
