#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_BUILD_OPTS = nocheck

%:
	dh $@ --parallel

override_dh_auto_configure:
	./configure --prefix=`pwd`/debian/libhermit/opt/hermit

override_dh_auto_build:
	# this target is somehow not executed by dh_auto_build and thus the build fails
	make arch/x86/kernel/boot.h

	dh_auto_build
	#make libs

override_dh_auto_test:
	@echo "tests are disabled"

override_dh_auto_install:
	make install_libhermit
	
	# delete unneded files that would cause conflicts
	rm -rf `-pwd`/debian/libhermit/opt/hermit/share/info/dir

override_dh_strip:
	# stripping will incorrectly use system tools for stripping, generating
	# wrong binary format, i.e. not for HermitCore
	@echo "No stripping"
