name: Benchmark

on:
  pull_request:
  push:
    branches:
      - main

env:
  GH_TOKEN: ${{ github.token }}

jobs:
  benchmark:
    runs-on: [self-hosted, "${{ matrix.runner-tag }}"]

    strategy:
      matrix:
        include:
          - benchmark-file: kernel/.github/benchmarks/general.yaml
            benchmark-matrix-name: General
            runner-tag: benchmark1
          - benchmark-file: kernel/.github/benchmarks/misc.yaml
            benchmark-matrix-name: Misc
            runner-tag: benchmark2

    steps:
      - name: Checkout hermit-rs
        uses: actions/checkout@v6
        with:
          repository: hermit-os/hermit-rs
      - name: Checkout hermit-kernel
        uses: actions/checkout@v6
        with:
          path: kernel
      - name: Install packages
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends qemu-system-x86 gh
      - uses: mkroening/rust-toolchain-toml@main
      - uses: mkroening/rust-toolchain-toml@main
        with:
          toolchain-file: "kernel/rust-toolchain.toml"
      - name: Download loader
        run: gh release download --repo hermit-os/loader --pattern hermit-loader-x86_64
      - name: Run benchmarks
        uses: hermit-os/hermit-bench@log-output
        id: run-bench
        with:
          benchmark-file: ${{ matrix.benchmark-file }}
          path-to-action: '../../_actions/hermit-os/hermit-bench/log-output'
      - name: Upload benchmark results
        uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.benchmark-matrix-name }}-benchmark-results
          path: ${{ steps.run-bench.outputs.result-file }}
