name: Clippy

on:
  push:
    branches:
      - master
      - staging
      - trying
  pull_request:

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: -Dwarnings

permissions:
  contents: read

jobs:
  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Rustup (apply rust-toolchain.toml)
        run: rustup show
      - name: Install NASM
        run: |
          sudo apt-get update
          sudo apt-get install nasm
      - name: Clippy
        run: cargo xtask clippy
